<h1>写真置き場</h1>
<p>ネギトロ丼食べたい</p>
<img src="<%= asset_path "IMG_9090.JPG" %>" style="width:500px" />
<img src="<%= asset_path "IMG_8541.jpg" %>" style="width:500px" />

<img src="<%= asset_path "IMG_8418.jpg" %>" style="width:500px" />
<%= link_to "銚子の辺り", top_negitoro_path %>

<%= link_to "いぬ", top_napo_path %>


 

